.App {
  text-align: center;
  width: 100vw;
}

tr td {
  border: 1px solid;
  cursor: pointer;
}

table {
  margin: auto;
}

.tableStyle {
  margin-top: 1rem;
}

.hideTable {
  display: none !important;
}

h3 {
  padding: 10px;
  margin: auto;
}

span {
  display: inline-block;
}

.horizontalSpace {
  width: 2rem;
}

.verticalSpace {
  height: 5rem;
}
